<<<<<<< HEAD
<h3>Bienvenido a <%= title %></h3>
El portal donde podrá crear sus propios juegos!
=======
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
   
    <nav id="n1" role="navigation">
    	<span><a href="/author">Creditos</a></span>
		</nav>
    <footer><a href="https://github.com/cmora-1/Quiz2">Acceso al repositorio en GitHub</a></footer>
  </body>
</html>
>>>>>>> 0d90f33cff57c9d0a644d07fd4fe2c29cb6694fa
